body{
	background-color: #BBBBFF;
}

img{
	float:left;
	margin: 20px;
	height: 270px;
}

#myName{
	font-weight: bold;
	float:left;
}

#myMajor{
	font-style: italic;
	text-decoration: underline;
}

#inputBox{
	clear:both;
}

#messageBox{
	min-height: 50px;
	clear:both;
	background-color: #FFFFFF;
	border: 2px solid black;
}
